@import '../../../../styles/templates';

.file {
  display: grid;
  grid-template-columns: 1fr 4fr repeat(4, 1fr);
  align-items: center;
  gap: 6px;
  padding: 5px;
  border-bottom: 1px solid rgb(207, 207, 207);
  cursor: pointer;

  &__delete {
    padding: 12px;
    color: darkred;
    text-align: center;
    border-bottom: 1px solid rgb(207, 207, 207);

    &_grid {
      padding: 26px;
      color: darkred;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  

  img {
    justify-self: center;
  }

  &__name {
    grid-column-start: 2;
  }

  &__date {
    grid-column-start: 5;
    justify-self: center;
    font-size: 14px;
  }

  &__size {
    grid-column-start: 6;
    justify-self: center;
    font-size: 14px;
  }

  &:hover &__date {
    grid-column-start: 3;
  }

  &:hover &__size {
    grid-column-start: 4;
  }

  .download,
  .delete {
    display: none; 
  }

  &:hover .download,
  &:hover .delete {
    display: block;
  }
}

.file-grid {
  width: 120px;
  height: 130px;
  padding:20px 10px;
  display: flex;
  gap: 8px;
  flex-direction: column;
  align-items: center;
  cursor: pointer;

  .btns {
    display: flex;
    gap: 8px;
  }

  .btns img {
    display: none;
    margin-top: -5px;

    &:hover {
        transform: scale(1.05);
      }
  }

  &:hover {
    background-color: rgb(245, 245, 245);

    img {
      display: block;      
    }
  }
  
}
