@import '../../../components/styles/templates';

.registration {
  padding: 30px 20px;
  max-width: 1000px;
  width: 100%;
  flex: 1 1 auto;

  .content {
    @extend %content;
    max-width: 500px;
    padding-bottom: 100px;
  }

  h3 {
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 20px;
  }
  form {
    max-width: 400px;
    width: 100%;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    gap: 30px;

    label {
      position: relative;
    }

    input {
      width: 100%;
      padding: 10px 20px;
      border: none;
      outline: none;
      background-color: rgb(248, 248, 248);
      border-bottom: 2px solid rgba(58, 58, 58, 0.336);
      font-size: 18px;
      transition: 0.2s linear;

      &:focus {
        border-bottom: 2px solid rgb(58, 58, 58);
      }
    }

    button {
      @extend %blueButton;
      padding: 10px;
      font-size: 18px;
    }

    .error {
      position: absolute;
      bottom: -20px;
      left: 0;
      color: red;
      font-size: 14px;
    }
  }
}
