.registration {
  padding: 30px 20px;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;

  h3 {
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 20px;
  }
  form {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    gap: 30px;

    input {
      width: 100%;
      padding: 10px 20px;
      border: none;
      outline: none;
      background-color: rgb(248, 248, 248);
      border-bottom: 2px solid rgba(58, 58, 58, 0.336);
      font-size: 18px;
      transition: 0.2s linear;

      &:focus {
        border-bottom: 2px solid rgb(58, 58, 58);
      }
    }

    button {
      padding: 10px 20px;
      border: none;
      outline: none;
      background-color: var(--main-color);
      color: #fff;
      font-size: 18px;
      cursor: pointer;
      transition: 0.2s linear;

      &:hover {
        background-color: var(--second-color);
      }
    }

    .error {
      color: red;
    }
  }
}
