@import '../../styles/templates';

.profile {
  max-width: 1000px;
  width: 100%;
  flex: 1 1 auto;

  &__content {
    @extend %content;
  }

  &__avatar {
    width: 240px;
    height: 240px;
  }

  input {
    display: none;
  }

  button,
  label {
    @extend %blueButton;
    width: 170px;
  }

  label {
    img {
      object-fit: cover;
    }
  }  
}