@import '../../../components/styles/templates';

.storage {
  margin-top: 20px;

  &__btns {
    display: flex;
    gap: 20px;

    button {
      @extend %blueButton
    }

    input {
      display: none;
    }

    label {
      @extend %blueButton
    }
  }
}