.storage {
  margin-top: 20px;

  &__btns {
    display: flex;
    gap: 20px;

    button {
      padding: 5px 15px;
      border-radius: 5px;
      background-color: var(--main-color);
      color: #fff;
      cursor: pointer;
      border: none;
      transition: .2s linear;
  
      &:hover {
        background-color: var(--second-color);
      }
    }
  }
}