@import '../../../components/styles/templates';

.storage {
  max-width: 1000px;
  width: 100%;
  flex: 1 1 auto;

  &__btns {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;

    button {
      @extend %blueButton
    }

    input {
      display: none;
    }

    label {
      @extend %blueButton
    }
  }

  &__view {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-left: auto;

    img {
      padding: 5px;
      cursor: pointer;      

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  &__content {
    position: relative;
    height: 600px;

    .file-list-wrapper {
      height: 100%;
    }
  }

  .drop-area {
    position: absolute;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: rgba(250, 250, 250, 0.803);

    p {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 22px;
    }
  }
}