.file-list {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(161, 161, 161);
  box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
  height: 100%;

  &__content {     
    overflow-y: auto;  
    flex: 1;  
    
    & .file:nth-child(2n) {
      background-color: rgb(245, 245, 245);
    }
  }

  &__header {
    display: grid;
    grid-template-columns: 1fr 4fr repeat(4, 1fr);
    gap: 6px;
    margin: 0 0 5px;
    padding: 10px 5px 6px;
    background-color: rgb(240, 240, 240);
    border-bottom: 2px solid rgb(173, 173, 173);
  }

  &__name {
    grid-column-start: 2;
  }
  &__date {
    grid-column-start: 5;
    justify-self: center;
  }
  &__size {
    grid-column-start: 6;
    justify-self: center;
  }

  p {
    padding: 10px 10px 5px;
    background-color: rgb(250, 250, 250);
    color:rgb(95, 95, 95);
    border-top: 2px solid rgb(90, 90, 90);
  }
}

.file-anim-enter-active {
  animation: file-enter 500ms forwards
}

@keyframes file-enter {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}