@import '../../components/styles/templates';

.header {
  background-color: var(--bgc);
  box-shadow: 0 0 7px 3px rgb(51 51 51 / 15%);

  .content {
    display: grid;
    grid-template-columns: fit-content(200px) 1fr fit-content(200px);
    gap: 16px;
    align-items: center;

    input {
      justify-self: center;
    }

    @media (max-width: 540px) {
      grid-template-columns: 1fr 1fr;

      input {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
      }
    }
  }

  &__account {
    display: flex;
    gap: 8px;
    margin-left: auto;

    button,
    > a {
      @extend %blueButton;
      width: 82px;
    }
  }

  &__user {
    display: flex;
    gap: 16px;
    align-items: center;

    a {
      img {
        width: 42px;
        height: 42px;
        object-fit: cover;
        border-radius: 50%;
        box-shadow: 0 0 3px 1px #9191919c;
        transition: 0.2s linear;

        &:hover {
          box-shadow: 0 0 4px 1px #919191;
        }
      }
    }

    a {
      margin-left: -26px;
    }

    span {
      background-color: rgb(252, 252, 252);
      padding: 5px 20px 5px 10px;
      font-size: 16px;
    }

    .exit-btn {
      padding: 5px 15px;
    }
  }
}

.container {
  padding: 10px 20px;
  margin: 0 auto;
  max-width: 1000px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;

  h3 {
    font-weight: 400;
  }

  @media (max-width: 768px) {
    h3 {
      display: none;
    }
  }
}

.search {
  max-width: 320px;
  width: 100%;
  padding: 8px 16px;
  border: none;
  outline: none;
  border-bottom: 1px solid rgb(199, 199, 199);
  font-size: 18px;

  &:focus {
    border-bottom: 1px solid rgb(78, 78, 78);
  }
}
